@{
    ViewData["Title"] = "https://localhost:{7182}/HelloWorld/Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://localhost:7182/HelloWorld">building Web apps with ASP.NET Core</a>.</p>
</div>
